    body {
     font-family: verdana;
     margin: 0; }
    
    .header {
     padding: 2px;
     text-align: center;
     background: #022a6b;
     color: #c7ddff;
     font-family: verdana; }
    
    .header h1 {
     font-size: 50px; 
     color: #c7ddff;
     font-family: verdana; }
    
    * {
     box-sizing: border-box; }
   
    .row {
     display: flex;
     flex-wrap: wrap; }
    
    .sidenav {
     flex: 30%;
     background-color: #ededed;
     overflow-y: auto; }
     
    .sidenav a {
     float: up;
     display: block;
     color: #404040;
     font-size: 15px;
     text-align: left;
     padding: 8px 10px;
     text-decoration: none; }
     
    .sidenav a:hover {
     background-color: #d1d1d1;
     color: #022a6b; }

    .card1 {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
     padding: 10px 0;
     text-align: left;
     background-color: #ffffff; }
    
    .main {
     flex: 70%;
     background-color: #d1d1d1;
     padding: 20px; }
     
    .main h2 {
     text-align: center; }
     
    .card2 {
     box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
     padding: 16px;
     text-align: left;
     background-color: #ffffff;
     color: #404040;
     font-size: 15px; }

    .highlight {
     background-color: #d1d1d1;
     float: up;
     display: block;
     color: #022a6b;
     font-size: 15px;
     text-align: left;
     padding: 8px 10px;
     text-decoration: none;
     }
     
    @media screen and (max-width: 700px) {
     .row {
      flex-direction: column; }
     }

@viewport {
    width: device-width;
    zoom: 1.0;
}
     
    .footer {
     padding: 10px;
     text-align: center;
     background: #022a6b;
     color: #c7ddff; }

.table {
    align-content: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #404040;
    font-size: 15px;
    text-align: center;
 
    border-color: #404040;
    border-width: 1px;
    border-collapse: collapse; }

.table2 {
    align-content: center;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    color: #404040;
    font-size: 15px;
}

.main a {
    text-decoration: none;
    color: cornflowerblue;
}

.main h4 {
    text-align: center;
}
